################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.gitignore
/.vs/QL_DT_LK/FileContentIndex
/obj/Debug
/bin/Debug/QL_DT_LK.exe
